### 2장 파이썬 프로그래밍의 기초, 자료형

#### 2-1 숫자형

숫자형  
![2-1](./02-1%201.jpg)

In [1]:
#정수형
a = 123
a = -178
a = 0

In [2]:
#실수형
a = 1.2
a = -3.14

In [4]:
#실수형의 소수점 표현 방식
a = 4.24E10
print(a)

b = 4.24e-10
print(b)

42400000000.0
4.24e-10

In [5]:
#8진수
a = 0o177
print(a) #10진수로 출력

127

In [6]:
#16진수
a = 0x8ff
print(a) #10진수 출력
b = 0xabc
print(b)

2303
2748

In [7]:
#사칙연산
print(3+4, 3-4,  3*4, 3/4)

7 -1 12 0.75

In [8]:
#제곱 표현
3**4

81

In [9]:
#나머지 연산자
7%4

3

In [10]:
#몫연산자
7//4

1

퀴즈. 몫과 나머지를 출력하는 함수를 작성하라.

#### 2-2 문자열 자료형

In [12]:
# 문자열 만들기
"Hello world"
'Python is fun'
"""Life is too short, You need python"""
'''Life is too short, You need python'''

'Life is too short, You need python'

In [13]:
# 문자열에 작은 따옴표 포함
"Python's favorite food is perl"

"Python's favorite food is perl"

In [14]:
#문자열에 큰 따옴표 포함
'"python is very easy." he says.'

'"python is very easy." he says.'

In [15]:
#백슬래시를 이용한 따옴표 표시
print('python\'s favorite food is perl')
print("\"Python is very easy.\" he says")

python's favorite food is perl
"Python is very easy." he says

In [17]:
#여러줄 문자열1
print("Life is too short\nYou need python")

Life is too short
You need python

In [23]:
#여러줄 문자열2
print('''Life is too short
You need python''')

print("""
Life is too short
You need python
""")

Life is too short
You need python

Life is too short
You need python

이스케이프 코드  
![2-2](./02-2%201.jpg)

In [25]:
#문자열 더하기
head = 'python'
tail = " is fun" # 공백 주의
head + tail

'python is fun'

In [26]:
#문자열 곱하기
head * 2

'pythonpython'

In [27]:
#문자열 길이 구하기
len(head) #python은 여섯자이다.

6

##### 문자열 인덱싱

문자열 인덱싱이란  
![2-2_2](./02-2%202.jpg)

In [32]:
a = 'Life is too short, You need python'
print(a[0], a[1], a[2], a[3]) #파이썬은 0부터 센다!!

L i f e

In [34]:
print(a[-1]) #맨 뒤부터 센다는 - 기호 '-0'이란 것은 없다.
print(a[-5])

n
y

In [36]:
#문자열 슬라이싱
a[0:4] #0,1,2,3 번째 까지 슬라이싱 한 것

'Life'

In [37]:
a[:] #처음부터 끝까지

'Life is too short, You need python'

In [39]:
a[4:] #life 뒤 공백부터 끝까지

' is too short, You need python'

In [51]:
a[19:-7]

'You need'

In [52]:
a[19:-7:2] #19번째 부터:뒤에서 8번째까지:두칸씩 띄어서

'Yune'

In [53]:
a[::-1] #처음부터:끝까지:역순으로

'nohtyp deen uoY ,trohs oot si efiL'

In [56]:
#문자열 수정
b = 'pithon'
b[1] = 'y' # 문자열 자체는 고유하기때문에 수정이 불가하다. 
b

TypeError: 'str' object does not support item assignment

In [59]:
#문자열 수정 (위같은 방법이 통하지 않음으로 슬라이싱을 이용한다.)
b[:1] + 'y' + b[2:]

'python'

##### 문자열 포매팅 코드

문자열 포맷 코드  
![2-2_3](./02-2%203.jpg)

In [62]:
print("i eat %d apples." %3) #정수형
print('I eat %s apples.' %"five") #문자형

number = 3
print('i eat %d apples.' %number) #정수형 변수

number = 10
day = 'three'
"i ate %d apples. so i was sick for %s days." %(number, day) #여러개 포매팅

i eat 3 apples.
I eat five apples.
i eat 3 apples.

'i ate 10 apples. so i was sick for three days.'

In [63]:
print("I have %s apples" % 3)

"rate is %s" % 3.234

I have 3 apples

'rate is 3.234'

In [64]:
# %를 출력하고 싶을 때
"Error is %d%%." %98 # 퍼센트를 두개(%%) 써주면 된다.

'Error is 98%.'

In [65]:
# 정렬과 공백1
"%10s" %'hi' #'hi'를 포함한 10칸에 출력 된다. 즉 앞에 8칸에 공백이 생긴다.

'        hi'

In [67]:
# 정렬과 공백2
'%-10sjane' %'hi' # hi 오른쪽에 8칸에 공백이 생긴다.

'hi        jane'

In [68]:
# 소수점 표현하기
'%0.4f' %3.14159265358979323846264338 # 소수점 아래 다섯자리에서 반올림해 출력

'3.1416'

In [70]:
# 소수점과 공백 응용
'%10.4f'%3.14159265358979323846264338 # 총 10칸으로 출력 따라서 앞에 4칸의공백이 추가

'    3.1416'

##### format 함수를 사용한 포매팅

In [72]:
# 조금더 발전된 스타일의 문자열 포맷이다.

#숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [73]:
#문자열 바로 대입하기
print("I eat {0} apples".format("five")) # {0} 0번째

I eat five apples

In [74]:
#숫자값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [80]:
# for 문과의 조합
for i in range(5):
    print("I eat {} apples".format(i+1))

I eat 1 apples
I eat 2 apples
I eat 3 apples
I eat 4 apples
I eat 5 apples

In [82]:
# 두개 이상의 값 넣기
number = 10
day = "three"
print("I ate {0} apples, so I was sick for {1} days.".format(number, day)) #{인덱스} => 들어갈 순서
print("I ate {1} apples, so I was sick for {0} days.".format(number, day))

I ate 10 apples, so I was sick for three days.
I ate three apples, so I was sick for 10 days.

In [83]:
#이름으로 넣기

"I ate {number} apples, so I was sick for {day} days.".format(number=10, day=3)
#{이름} 형태를 사용하는 경우 포멧함수에는 반드시 이름=값 과같은 형태의 입력값이 필요하다.

'I ate 10 apples, so I was sick for 3 days.'

In [ ]:
# 인덱스와 이름을 혼용
"I ate {0} apples, so I was sick for {day} days.".format(10, day=3)

In [85]:
#왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [86]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [87]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [90]:
#공백 채우기
print("{0:!<10}". format ("hi"))
"{0:=^10}". format ("hi")

hi!!!!!!!!

'====hi===='

In [92]:
# 소수점 표현
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [93]:
# 중괄호, 문자 표현
"{{ and }}".format()

'{ and }'

##### f 문자열 포매팅

In [95]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [96]:
f'나는 내년이면 {age+1}살이 된다.' # 표현식을 지원하기 때문에 가능, {} 안에는 다양한 자료형을 저장한 변수가 올 수 있다.

'나는 내년이면 31살이 된다.'

In [98]:
f'{"hi":<10}'

'hi        '

In [99]:
f'{"hi":>10}'

'        hi'

In [102]:
f'{"hi":^10}'

'    hi    '

In [103]:
y = 3.1415926535897932384626433383279
f'{y:0.4f}'

'3.1416'

In [104]:
f'{{and}}'

'{and}'

#### 문자열 매서드

In [107]:
#개수세기
print('hobby'.count('b'))

2

In [108]:
b = 'hobby'
b.count('b')

2

In [109]:
# 위치알려주기1
a = "Python is the best choice"
a.find('b') #처음 나온 위치

14

In [110]:
a.find('z') # 없으면 -1을 반환

-1

In [112]:
# 위치알려주기 2
a.index('t')

2

In [114]:
a.index('k') # 없는 경우 오류발생

ValueError: substring not found

In [115]:
# 문자열 삽입
",".join('abcd')

'a,b,c,d'

In [119]:
','.join(['a','b','c','d']) #리스트도 가능

'a,b,c,d'

In [120]:
# 문자열 나누기 *중요*
a = "Life is too short"
a.split() # 괄호 안 인자를 기준으로 나눔. 디폴트 값: 공백

['Life', 'is', 'too', 'short']